* {
    padding: 0%;
    margin: 0%;
    
}

header {
    height: 15%;
    background-color: #12a5bc;
    color: #e7f7f6;

}

.img {
    width: 10%;
    margin-left: 50px;
    margin-top: 15px;

}

nav {
    padding-right: 30px;
    display: inline-block;
    width: 50%;
    margin-bottom: 15px;
    margin-left: 200px;
}

nav>a {
    color: #e7f7f6;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    padding-right: 25px;
}

li {
    list-style: none;
}